[user]
  email = tuutti@iki.fi
  name = "Lari Rauno"
  signingkey = 257BF1B6FEDCAE12

[github]
  user = tuutti

[core]
  excludesfile = ~/.gitignore-global
  editor = vim

[push]
  default = simple

[merge]
  tool = diffconflicts

[mergetool "diffconflicts"]
  cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
  keepBackup = false

[color]
  diff = auto
  status = auto
  branch = auto
[commit]
	gpgsign = true
