[user]
  email = tuutti@iki.fi
	name = tuutti
  signingkey = 257BF1B6FEDCAE12

[github]
  user = tuutti

[core]
  excludesfile = ~/.gitignore-global
  editor = vim

[push]
  default = simple
	autoSetupRemote = true

[color]
  diff = auto
  status = auto
  branch = auto
[commit]
	gpgsign = true
[pull]
	rebase = false
[credential]
	helper = cache
[init]
	defaultBranch = main
