@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* This is based on https://raw.githubusercontent.com/arawde/dotfiles/master/firefox/nani_bspwm_neue.css */

/* Stupid ass border at bottom*/
#TabsToolbar::after{
  display: none;
}
#tabbrowser-tabs{ /* Tab container*/
  background-color: #191919;
  color: #fff;
  padding: 0 !important; 
  margin-left:-10px; /* Flush with the side of the window */
  margin-right: -15px; /* You need like 5-7 tabs open for this to come into effect */
}
.tabbrowser-tab{ /* Actual tabs */
  max-height: 20px;
  padding: 0;
  margin: 0 !important;
  border: 0 !important;
  background: none !important;
}
.tabbrowser-tab:not([pinned]) { 
  /* Defining a max/min width inside tabs breaks the ability 
  of the tab to shrink/move on close of another tab*/
min-width: 50px;
}
.tab-text.tab-label{ /* Tab text */
  text-align: center;
  font-size: 11px;
}
/* Deal with rounded tabs in Australis */
.tab-background-start, .tab-background-end{ 
  display: none;
}
.tab-background-middle{
  background-image: none!important;
}
/* Tab hovering */
.tabbrowser-tab:hover .tab-background-middle{

}
/* favicon */
.tab-icon-image {
  width: 0;
  height: 0;
}
/* Selected tab */
.tabbrowser-tab[selected="true"] .tab-background-middle, .tabbrowser-tab[selected="true"] .tab-content{ 
  background-color: #913133;
  color: #ffffff !important;
  text-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.tabbrowser-tab:hover .tab-label, .tabbrowser-tab[selected="true"] .tab-label{
  color: #bebeb4;
}

/* Clean up miscellaneous shit that can't be done in customize */
#main-window #tabbrowser-tabs .tab-close-button,
#tabbrowser-tabs toolbarbutton.scrollbutton-up,
#tabbrowser-tabs toolbarbutton.scrollbutton-down,
#appmenu-button, #appmenu-toolbar-button, #alltabs-button,
.tabbrowser-tab .tab-icon-image,
.tabs-newtab-button,
.tab-throbber,
.tab-throbber[progress],
#identity-box,
#go-button
{
  display: none !important;
}

/* Tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  background-image: none!important;
}

