:root {
    --tab-height: 26px;
  }

  .tabbrowser-arrowscrollbox > .scrollbutton-up,
  .tabbrowser-arrowscrollbox > .scrollbutton-down,
  toolbarbutton#appmenu-toolbar-button,
  toolbarbutton#alltabs-button,
  toolbarbutton#new-tab-button,
  .tab-icon-image,
  .tabs-closebutton-box,
  .tabs-border-bottom,
  .tab-throbber,
  .tab-close-button {
    display: none !important;
  }

  /* Fix for tiletabs */
  .tabbrowser-tab[tiletabs-assigned]:not([pinned]) .tab-throbber:not([busy]) + .tab-icon-image {
    display: none !important;
  }

  tabs#tabbrowser-tabs * {
    -moz-appearance: none !important;
    border-radius: 0 !important;
    border-bottom: 0 none !important;
    background-image: none !important;
    margin-top: 0 !important;
    font-size: 11px;
    text-align: center;
  }

  tabs#tabbrowser-tabs {
    background: #282828;
  }

  .tabbrowser-tab {
    max-height: 20px !important;
    padding: 0 5px !important;
    margin: 0 !important;
    color: #ebdbb2 !important;
  }

  .tabbrowser-tab [selected=true] {
    background: #458588 !important;
    margin: 0 -5px 0 -5px;
    color: #ebdbb2 !important;
  }

  #toolbar-menubar, #TabsToolbar {
    max-height: 15px !important;
    padding: 0 !important;
  }
  tab {
    height: var(--tab-height) !important;
    min-height: var(--tab-height) !important;
  }
  #tabbrowser-tabs .tabbrowser-arrowscrollbox,
  #tabbrowser-tabs .tabbrowser-arrowscrollbox .box-inherit.scrollbox-innerbox {
    max-height: var(--tab-height) !important;
  }
  #TabsToolbar, #tabbrowser-tabs {
    -moz-appearance: none !important;
    height: var(--tab-height) !important;
    min-height: var(--tab-height)!important;
    margin-top: -5px !important;
  }
  toolbar {
    background: #282828 !important;
  }
  /* Lastpass toolbar fixes */
  .chromeclass-toolbar-additional {
    margin-top: 5px !important;
  }
