[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Exec=env GTK2_RC_FILES="/usr/share/themes/FlatStudio/gtk-2.0/gtkrc" skype %U
Icon=skype.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
